<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h3">Guardar profesional</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
          <a class="btn btn-sm btn-outline-primary d-flex align-items-center gap-1" routerLink="/profesionales">
              <i class="bi bi-backspace"></i>
              Regresar
          </a>
      </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
      Complete todos los campos requeridos
  </div>
  <div class="card-body">
      <form [formGroup]="formulario" (ngSubmit)="Guardar()">
          <div class="row">
              <div class="col-md-6">
                  <div class="mb-3">
                      <label class="form-label">Tipo Identificación: <span class="text-danger">*</span></label>
                      <select class="form-select mb-2" aria-label="Seleccione el tipo de identificación" formControlName="tipoIdentificacion" >
                          <option value="" selected>Seleccione el tipo de identificación</option>
                          @for (tipo of arrTiposIdentificacion; track $index) {
                              <option value="{{tipo.idTipoIdentificacion}}">{{tipo.nombre}}</option>
                          }
                        </select>
                      @if (tipoIdentificacion.errors && (tipoIdentificacion.dirty || tipoIdentificacion.touched)) {
                          <span class="text-danger mb-2">El tipo de identificación es requerido.</span>
                      }
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="mb-3">
                      <label class="form-label">Identificación: <span class="text-danger">*</span></label>
                      <input type="text" name="identificacion" id="identificacion" placeholder="Ingrese la identificación..." formControlName="identificacion" class="form-control mb-2">
                      @if (identificacion.errors && (identificacion.dirty || identificacion.touched)) {
                          <span class="text-danger mb-2">La identificación es requerida.</span>
                      }
                  </div>
              </div>

              <div class="col-md-6">
                  <div class="mb-3">
                      <label class="form-label">Nombre: <span class="text-danger">*</span></label>
                      <input type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre..." formControlName="nombre" class="form-control mb-2">
                      @if (nombre.errors && (nombre.dirty || nombre.touched)) {
                          <span class="text-danger mb-2">El nombre es requerido.</span>
                      }
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="mb-3">
                      <label class="form-label">Apellidos: <span class="text-danger">*</span></label>
                      <input type="text" name="apellidos" id="apellidos" placeholder="Ingrese los apellidos..." formControlName="apellidos" class="form-control mb-2">
                      @if (apellidos.errors && (apellidos.dirty || apellidos.touched)) {
                          <span class="text-danger mb-2">Los apellidos son requeridos.</span>
                      }
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="mb-3">
                      <label class="form-label">Fecha Nacimiento: <span class="text-danger">*</span></label>
                      <div class="input-group">
                          <input type="text" name="fechaNacimiento" [matDatepicker]="picker" formControlName="fechaNacimiento" class="form-control mb-2" placeholder="MM/DD/YYYY">
                          <span class="input-group-text">
                              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                          </span>
                      </div>
                      <mat-datepicker #picker></mat-datepicker>
                      @if (fechaNacimiento.errors && (fechaNacimiento.dirty || fechaNacimiento.touched)) {
                          <span class="text-danger mb-2">La fecha de nacimiento es requerida.</span>
                      }
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="mb-3">
                      <label class="form-label">Correo: <span class="text-danger">*</span></label>
                      <input type="text" name="correo" id="correo" placeholder="Ingrese el correo..." formControlName="correo" class="form-control mb-2">
                      @if (correo.errors && (correo.dirty || correo.touched)) {
                          <span class="text-danger mb-2">El correo es requerido.</span>
                      }
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="mb-3">
                      <label class="form-label">Teléfono: <span class="text-danger">*</span></label>
                      <input type="text" name="telefono" id="telefono" placeholder="####-####" formControlName="telefono" class="form-control mb-2">
                      @if (telefono.errors && (telefono.dirty || telefono.touched)) {
                          <span class="text-danger mb-2">El teléfono es requerido.</span>
                      }
                  </div>
              </div>
          </div>

          <div class="mb-3">
              <label class="form-label">Especialidad: <span class="text-danger">*</span></label>
              <input type="text" name="especialidad" id="especialidad" placeholder="Ingrese su especialidad..." formControlName="especialidad" class="form-control mb-2">
              @if (especialidad.errors && (especialidad.dirty || especialidad.touched)) {
                  <span class="text-danger mb-2">La especialidad es requerida.</span>
              }
          </div>

          <div class="mb-3">
              <label class="form-label">Dirección:</label>
              <textarea name="direccion" id="direccion" formControlName="direccion" rows="4" placeholder="Ingrese su dirección..." class="form-control"></textarea>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-outline-primary me-md-2" type="submit" [disabled]="!formulario.valid">
                  @if (cargando) {
                      <i class="bi bi-hourglass-split"></i> Guardando...
                  } @else {
                      <i class="bi bi-plus-circle"></i> Guardar
                  }
              </button>
              <button class="btn btn-outline-secondary" type="reset">
                  <i class="bi bi-x-circle"></i>
                  Limpiar
              </button>
          </div>
      </form>
  </div>
</div>