<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Inicio</h1>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card border-dark">
      <img
        src="img/icons8-manager-94.png"
        class="card-img-top text-center pt-3"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">Estudiantes</h5>
        <p class="card-text text-center">
          <a class="btn btn-danger" routerLink="/estudiantes/guardar">
            <i class="bi bi-plus-square"></i> Registrar Estudiante
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-dark">
      <img
        src="img/icons8-student-male-94.png"
        class="card-img-top text-center pt-3"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">Matrícula</h5>
        <p class="card-text text-center">
          <a class="btn btn-secondary" routerLink="/matriculas/guardar">
            <i class="bi bi-plus-square"></i> Registrar Matrícula
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-dark">
      <img
        src="img/icons8-manager-94.png"
        class="card-img-top text-center pt-3"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">Profesional</h5>
        <p class="card-text text-center">
          <a class="btn btn-danger" routerLink="/profesionales/guardar">
            <i class="bi bi-plus-square"></i> Registrar Profesional
          </a>
        </p>
      </div>
    </div>
  </div>

    <div class="col">
        <div class="card border-dark">
            <img
            src="img/icons8-clerk-94.png"
            class="card-img-top text-center pt-3"
            alt="..."
            />
            <div class="card-body">
                <h5 class="card-title text-center">Oferta</h5>
                <p class="card-text text-center">
                    <a class="btn btn-secondary" routerLink="/ofertas/guardar">
                    <i class="bi bi-plus-square"></i> Generar Oferta
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
