@import "https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap";

* {
	font-family: 'poppins',sans-serif;
}
$primary-color: #0066eb;
$secondary-color: #fc5858;
$background-color: #ffffff;
$text-color: #ffffff;

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, $primary-color, $secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: $text-color;
}
.container {
	border: 2px solid rgba(255, 255, 255, 0.397);
	border-radius: 30px;
	backdrop-filter: blur(25px);
  background-color: #0000006e;
  box-shadow: 15px 19px 15px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  animation: fadeInUp 0.8s ease-out;
}
.register-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  h2 {
    text-align: center;
    color: white;
    margin-bottom: 1rem;
  }
}

.form-group {
  input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: $text-color;
    border: none;
    border-bottom: 1px solid #7caef8;
    outline: none;
    background: transparent;
    transition: 0.3s;
    text-align: center;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, $primary-color, $secondary-color);
  color: white;
  border: none;
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
}
h1{
  font-size: 200%;
  text-align: center;
  color: $primary-color;
  margin-bottom: 1rem;
}

.mandatory{
  color: #f84141;
  text-align: center;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}