<h1 mat-dialog-title align="center" class="text-center">Cursos de la Oferta</h1>
<div mat-dialog-content>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Curso</th>
                <th>Profesional</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Cupo Máximo</th>
                <th>Cupo Mínimo</th>
                <th>Cupo Actual</th>
                <th># Grupo</th>
            </tr>
        </thead>
        <tbody>
            @for (linea of lineas; track $index) {
                <tr>
                    <td>{{linea.curso.nombre}}</td>
                    <td>{{linea.profesional.nombre}}</td>
                    <td>{{linea.horaInicio}}</td>
                    <td>{{linea.horaFin}}</td>
                    <td>{{linea.cupoMaximo}}</td>
                    <td>{{linea.cupoMinimo}}</td>
                    <td>{{linea.cupoActual}}</td>
                    <td>{{linea.numeroGrupo}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close class="btn btn-outline-secondary">Aceptar</button>
</mat-dialog-actions>