<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h3">Ofertas</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
          <a class="btn btn-sm btn-outline-primary d-flex align-items-center gap-1" routerLink="/ofertas/guardar">
              <i class="bi bi-plus-circle"></i>
              Nueva
          </a>
      </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
      <div class="input-group">
          <input type="search" class="form-control" placeholder="Ingrese el oferta a buscar..." #inputBusqueda (keyup)="filtrar(inputBusqueda.value)">
          <span class="input-group-text">
              <i class="bi bi-search"></i>
          </span>
      </div>
      <div class="mat-elevation-z1 mt-3">
          @defer {
              <div class="table-responsive">
                  <table mat-table [dataSource]="origen" matSort>
                      <ng-container matColumnDef="idOferta">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header># Oferta</th>
                          <td mat-cell *matCellDef="let oferta">{{oferta.idOferta}}</td>
                      </ng-container>
      
                      <ng-container matColumnDef="codigo">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
                          <td mat-cell *matCellDef="let oferta">{{oferta.codigo}}</td>
                      </ng-container>
  
                      <ng-container matColumnDef="fechaInicio">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Inico</th>
                          <td mat-cell *matCellDef="let oferta">{{oferta.fechaInicio}}</td>
                      </ng-container>
  
                      <ng-container matColumnDef="fechaFin">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Fin</th>
                          <td mat-cell *matCellDef="let oferta">{{oferta.fechaFin}}</td>
                      </ng-container>
  
                      <ng-container matColumnDef="fechaNacimiento">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Nacimiento</th>
                          <td mat-cell *matCellDef="let oferta">{{oferta.fechaNacimiento}}</td>
                      </ng-container>
  
                      <ng-container matColumnDef="descripcion">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
                          <td mat-cell *matCellDef="let oferta">{{oferta.descripcion}}</td>
                      </ng-container>
      
                      <ng-container matColumnDef="estado">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                          <td mat-cell *matCellDef="let oferta">
                              @if (oferta.estado) {
                                  <span class="text-success">Activa</span>
                              } @else {
                                  <span class="text-danger">Inactiva</span>
                              }
                          </td>
                      </ng-container>
      
                      <ng-container matColumnDef="opciones">
                          <th mat-header-cell *matHeaderCellDef>Opciones</th>
                          <td mat-cell *matCellDef="let oferta">
                              <div class="btn-group" role="group">
                                  <a title="Editar oferta" class="btn btn-sm btn-outline-secondary" [routerLink]="['/ofertas/actualizar/', oferta.idOferta]">
                                      <i class="bi bi-pencil-square"></i>
                                  </a>
                                  @if (oferta.estado) {
                                      <button (click)="estado(oferta.idOferta, false)" type="button" class="btn btn-sm btn-outline-danger" title="Inactivar oferta">
                                          <i class="bi bi-x-square"></i>
                                      </button>
                                  } @else { 
                                      <button (click)="estado(oferta.idOferta, true)" type="button" class="btn btn-sm btn-outline-success" title="Activar oferta">
                                          <i class="bi bi-check-square"></i>
                                      </button>
                                  }
                                  <button (click)="cursos(oferta.cursos)" class="btn btn-sm btn-outline-info" title="Ver Cursos"><i class="bi bi-journals"></i></button>
                              </div>
                          </td>
                      </ng-container>
      
                      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                  </table>
              </div>
          } @loading {
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          }
      </div>
  </div>
</div>