<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h3">Estado de Orden</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a
        class="btn btn-sm btn-outline-primary d-flex align-items-center gap-1"
        routerLink="/dashboard/catalogos/ordenes-estado/guardar"
      >
        <i class="bi bi-plus-circle"></i>
        Nueva
      </a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="input-group">
      <input
        type="search"
        class="form-control"
        placeholder="Ingrese el estado de orden a buscar..."
        #inputBusqueda
        (keyup)="filtrar(inputBusqueda.value)"
      />
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
    </div>
    <div class="mat-elevation-z1 mt-3">
      @defer {
      <table mat-table [dataSource]="origen" matSort>
        <ng-container matColumnDef="idEstadoOrden">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            ID Estado De Orden
          </th>
          <td mat-cell *matCellDef="let estado">{{ estado.idEstadoOrden }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let estado">{{ estado.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let estado">
            <div class="btn-group" role="group">
              <a
                title="Editar estado"
                class="btn btn-sm btn-outline-secondary"
                [routerLink]="[
                  '/dashboard/catalogos/ordenes-estado/actualizar',
                  estado.idEstadoOrden
                ]"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>
      } @loading {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </div>
  </div>
</div>
